<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenido a mi Curriculum </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="images/x-icon" href="images/favicon.icon">
    <link rel="stylesheet" href="/stylesheets/color.css"
    >
  </head>
  <body>
    {{{body}}}
  </body>
</html>
